body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#text1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 95px;
    color: white;
    margin-left: 3cm;
}
#sec2{
    margin-top: 4.5cm;
    position: absolute;
}
#form1{
    margin-left: 22cm;
    background-color: rgb(245, 241, 241);
    font-size: 20px;
    margin-top: -9cm;
    border: 2px solid black;
}
input[type=email], select{
    width: 90%;
    padding: 12px 16px;
    margin: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select{
    width: 90%;
    padding: 12px 16px;
    margin: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password]:focus{
    border: 1px solid rgb(40, 212, 212);
}
input[type=email]:focus{
    border: 1px solid rgb(40, 212, 212);
}
.margin{
    margin-left: 0.7cm;
    margin-right: 0.5cm;
}
#resetBtn {
    background-color: rgb(17, 93, 233);
    color: white;
    border: none;
    width: 9cm;
    height: 0.8cm;
    cursor: pointer;
    border-radius: 6px;
}
